.footer-parent-container {
  background-color: var(--footer-color-strangeBlack);
}
.footer {
  max-width: 61rem;
  padding: 4.3rem 2.4rem;
  margin: 0 auto;
}

.footer-tbc-icon {
  width: 100%;
  height: auto;
  max-width: 10.6rem;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.social-icons img {
  width: 100%;
  height: auto;
  max-width: 3.5rem;
}

/* Styles for spacing between social icons */
.social-icons a + a {
  margin: 0 0 0 1.5rem;
}

.footer button {
  padding: 0.8rem 1.4rem;
  border-radius: 0.8rem;
  border: 0;
  font-size: 1.8rem;
  color: white;
  background-color: var(--routing-text-color-blue);
}

.copyright {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.8rem;
  color: var(--main-text-color);
}
