@media (min-width: 768px) {
  .overflow-hidden {
    overflow: auto;
  }

  /* Utility Class to Toggle Visibility */
  .show {
    opacity: 1;
    transform: translateX(0);
  }

  header {
    padding: 2.4rem;
  }

  .overlay {
    background-color: transparent;
  }

  /* Adjusting navigation container styles */
  .navigation {
    height: 100%;
    background-color: transparent;
    position: static;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
    background-color: transparent;
  }

  .tbc-logo {
    max-width: 18.2rem;
    max-height: 4rem;
    margin: 0;
  }

  /* Hiding burger menu on larger screens */
  .burger-menu {
    display: none;
  }

  /* training card styles */
  .card-description {
    padding: 2.6rem 1.6rem 11.9rem 1.6rem;
  }

  .training-courses h3 {
    padding: 2.6rem 0 7rem;
  }

  /* slider styles */
  .slider {
    height: 39.34rem;
  }

  .slider button {
    display: block;
  }

  .slider-container {
    gap: 0 10rem;
  }

  .slider-buttons {
    justify-content: space-between;
    align-items: center;
    height: 19.6rem;
  }

  /* accordion styles */
  .accordion-parent-container {
    padding: 9.5rem 0;
  }

  .accordion-container {
    order: 1;
    flex-grow: 1;
  }

  .accordion-wrapper {
    justify-content: space-between;
    padding: 0 2rem;
  }

  .accordion-questions {
    justify-content: space-between;
  }

  .accordion-item {
    padding: 0 0 2rem 0;
    max-height: 5rem;
  }

  .active {
    max-height: 100rem;
  }

  /* footer styles */
  .footer {
    display: grid;
    gap: 2rem;
    max-width: 105rem;
    padding: 5.8rem 2.4rem 3.6rem 2.4rem;
  }

  .footer-tbc-icon {
    grid-column: 1 / span 1;
    grid-row: 1;
  }

  .footer-info {
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin: 0;
  }

  .social-icons img {
    max-width: 3.9rem;
  }

  .copyright {
    grid-column: 1 / span 1;
    grid-row: 2;
    flex-direction: column-reverse;
    width: 33%;
  }

  .footer button {
    width: 17rem;
  }
}

/* Desktop Styles, Hover Effects, and Animations for Screens with Minimum Width 1024px */
@media (min-width: 1024px) {
  .heading-1-span {
    font-size: 4.5rem;
  }

  h1 {
    padding: 10rem 0;
    font-size: 4rem;
    line-height: 7rem;
  }

  h2 {
    font-size: 3.2rem;
    line-height: 4.5rem;
  }

  .describe-section {
    padding: 5.6rem 0;
  }

  .slider-container {
    flex-wrap: nowrap;
  }

  /* Adding hover styles and cursor-pointer for various elements */
  .tbc-logo,
  .card a,
  .slider-buttons button,
  .slider-navigation button,
  .accordion-container li div:first-child,
  .social-icons img,
  .footer-info button {
    cursor: pointer;
  }

  /* Adding transition effect for certain elements */
  .card a,
  .slider-buttons img,
  .copyright a {
    transition: opacity 0.2s ease-in;
  }

  .footer-info button {
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
  }

  .footer-info button:hover {
    color: var(--border-color-silver);
    background-color: var(--burger-menu-color-grey);
  }

  .navigation-list a {
    transition: color 0.2s ease-in;
  }

  .navigation-list a:hover {
    color: var(--routing-text-color-blue);
  }

  .details:hover:not(.card a) {
    color: var(--main-text-color);
  }

  /* Hover effect for card links, slider buttons, and copyright links */
  .card a:hover,
  .slider-buttons button:hover,
  .copyright a:hover {
    opacity: 0.8;
  }
}
