.slider {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 45rem;
  padding: 2.4rem 2.4rem 0 2.4rem;
  background-color: var(--secondary-color-grey);
}

.slider h3 {
  font-size: 2.3rem;
  font-weight: 400;
}

.slider-images-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}

/* Container for Slider Navigation Buttons */
.slider-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 150rem;
}

.slider-buttons button {
  display: none;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  height: 31rem;
}

.slider-container img {
  width: auto;
  height: auto;
}

.slider button {
  border: 0;
  outline: 0;
  background-color: transparent;
}

.slider button img {
  width: 100%;
  height: auto;
  max-width: 2.8rem;
}

.slider button:last-child {
  transform: rotate(180deg);
}

.slider-navigation {
  gap: 1.5rem;
}

.slider-navigation button {
  border-radius: 80%;
  padding: 0.35rem;
  background-color: var(--burger-menu-color-grey);
}

.slider-active {
  animation: blink 2s ease;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
