.accordion-parent-container {
  background-color: var(--primary-color-almostBlack);
  padding: 5rem 1.6rem;
  margin: 0 auto;
}

.accordion-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5.5rem;
}

.accordion-parent-container h3 {
  font-size: 2.3rem;
}

.accordion-wrapper p {
  font-size: 2.2rem;
}

.accordion-questions {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.accordion-answer p {
  font-size: 1.5rem;
}

.intro {
  margin-top: 2.5rem;
}

.answer-content {
  margin-top: 2rem;
}

.stages-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 0 0 2rem;
}

.accordion-item {
  border-bottom: 1px solid var(--border-color-silver);
  padding: 0 0 2rem 0;
}

.accordion-container li + li {
  margin-top: 2rem;
}

.accordion-answer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

@keyframes accordionAnimation {
  from {
    max-height: 6rem;
    overflow: hidden;
  }
  to {
    max-height: 1000px;
  }
}

.accordion-item {
  overflow: hidden;
}

.active {
  animation: accordionAnimation 1s ease-in-out;
}
