label {
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.burger-menu {
  flex-direction: column;
  width: 2.6rem;
  height: 2.1rem;
}

.burger-bar,
.middle-box {
  width: 50%;
  height: 0.3rem;
  border-radius: 0.15rem;
  background-color: var(--burger-menu-color-grey);
}

.middle-box {
  width: 100%;
}

.right-box {
  margin: 0 0 0 auto;
}

/* Transition effect for the middle box in the burger menu */
.middle-box {
  transition: all 0.3s ease;
}

/* Transition effect for the burger bars in the menu */
.burger-bar {
  transition: transform 0.33s cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.burger-bar:first-child {
  transform-origin: right;
}

.burger-bar:last-child {
  transform-origin: left;
}

/* Styles for the checked state of the burger checkbox */
.burger-checkbox:checked + .burger-menu .burger-bar:first-child {
  transform: rotate(-135deg) translate(0.6rem, -0.4rem);
}

.burger-checkbox:checked + .burger-menu .middle-box {
  transform: rotate(-45deg) translate(0.25rem, 0);
}

.burger-checkbox:checked + .burger-menu .burger-bar:last-child {
  transform: rotate(-135deg) translate(-0.7rem, 0.9rem);
}
